.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: ease all 1s;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--black-3);
}

video {
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: ease all 1s;
}

p {
    font-size: 70px;
    color: var(--white);
    padding-bottom: 20px;
    transition: ease all 1s;
}

span {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 60px;
    transition: ease all 1s;
}

.item-1 {
    padding: 0px 30px 0px 30px;
}

.item {
    transition: ease all 1s;
}

@media only screen and (max-width: 1671px) {
    .container {
        justify-content: center;
        height: auto;
        padding-top: 100px;
    }

    .container-2 {
        padding-bottom: 100px;
    }

    video {
        max-width: 750px;
        height: 500px;
    }

    p {
        font-size: 50px;
    }

    span {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1211px) {
    .item-2 {
        max-height: 500px;
    }

    .item-3 video {
        display: none;
    }

    .container-2 {
        display: block;
        text-align: center;
        height: 200px;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .container-1 {
        padding-top: 50px;
    }

    .item-1 {
        padding-bottom: 50px;
    }

    .item-4 > p {
        padding-bottom: 45px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-1 {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 755px) {
    .container-1 {
        flex-direction: column;
        height: auto;
    }

    .item-1 {
        padding-bottom: 50px;
    }

    .item-2 video {
        width: 400px;
    }
}
