@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
}

body {
    background-color: var(--black-3);
}

:root {
    --primary-color: #920a0a;
    --secondary-color: #580303;
    --black: #000000;
    --black-2: #1d1d1f;
    --black-3: #010101;
    --white: #f3f2f5;

    font-family: 'Raleway', serif !important;
    /* font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif; */
    font-size: 2rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
    border-radius: 12px;
}
